
.scrollComponent{
    justify-content: center;
    display: flex;
}

.createPostContainer{
    display: flex;
    height: 10vh;
    width: 70%;
    padding-inline: 0.8rem;
    gap: 1.2rem;
    align-items: center;background: snow;
    border-radius: 20px;
}

.userProfile{
    border-radius: 100%;
    height: 70%;
    width: fit-content;
}

.createPostContainer > textarea{
    width: 100%;
}
.fab{
    background: silver;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    
}

.fab > svg{
    
    width: fit-content;
    height: 40px;
    color: white;
}

.textareaOfContent{
    width: 80%;
    height: 30%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;

    

}